{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Resetear Password</title>
    {% include "include/header.html" %}
</head>

{% include "include/navbar.html" %}<br><br><br><br><br>
    <div class="container"><br><br><br><br>
    <h3>RESETEAR PASSWORD</h3><hr>
    <p>Olvidó su contraseña? Ingrese su correo y le enviaremos unas instrucciones para actualizarla!</p>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Enviar Correo" class="btn btn-primary">
    </form>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
<footer>
    {% include "include/footer.html" %}
</footer>
</html>